<div id="invitation" class="new">


  <p>
    Issue an invitation to join <%= @invite.organizable %>
  </p>

  <%= form_for @invite, url: invites_path do |f| %>
      <%= f.hidden_field :organizable_id, value: @invite.organizable_id %>
      <%= f.hidden_field :organizable_type, value: @invite.organizable_type %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.submit 'Send' %>
  <% end %>

</div>

